<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ds.ycserver.mysql.mapper.DataMapper" >
 <insert id="saveWpData" parameterType="com.ds.ycserver.mysql.model.EquipmentData">
  		insert into t_equipment_data
  		(v_equipment_name,
		p001,p002,p003,p004,p005,p006,p007,p008,p009,p010,p011,p012,p013,p014,p015,
		p016,p017,p018,p019,p020,p021,p022,p023,p024,p025,p026,p027,p028,p029,p030)
  		values
  		(#{v_equipment_name},
  		#{p001},#{p002},#{p003},#{p004},#{p005},#{p006},#{p007},#{p008},#{p009},#{p010},#{p011},#{p012},#{p013},#{p014},#{p015},
		#{p016},#{p017},#{p018},#{p019},#{p020},#{p021},#{p022},#{p023},#{p024},#{p025},#{p026},#{p027},#{p028},#{p029},#{p030})
  </insert>
</mapper>